.register_section {
     padding: 50px;
     background-color: rgba(2, 46, 70, 0.029999999329447746);
     border-radius: 20px;
     display: flex;
     flex-direction: column;
     gap: 20px;
}

.register_section #email_input {
     border-radius: 20px;
     background-color: white;
     padding: 20px;
     border: none;
     outline: none;
     width: 300px;
}

.register_section .title1 {
     color: #000000;
     opacity: 0.7699999809265137;
}

.register_section .title2 {
     color: #000000;
     opacity: 0.47999998927116394;
     line-height: 2rem;
}

.register_section .title3 {
     color: #000000;
     font-size: 24px;
}

.register_section .title4 {
     color: #000000;
     opacity: 0.47999998927116394;
}

.register_section .input_group {
     display: flex;
     flex-direction: row;
     gap: 30px;
}

.register_section .upload_group {
     display: flex;
     flex-direction: row;
     gap: 20px;
}

.register_section .upload_group .box {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 10px;
     background-color: white;
     padding: 50px;
     border-radius: 20px;
}

.register_section .upload_group .box .upload_title {
     color: #000000;
     opacity: 0.5;
     font-size: 16px;
     text-align: center;
}

.register_section .input_group .input_form {
     border-radius: 20px;
     background-color: white;
     padding: 20px;
     border: none;
     outline: none;
     width: 300px;
     flex: 1;
}

.register_section .agree_group {
     display: flex;
     flex-direction: row;
     gap: 10px;
     align-items: center;
}

.register_section .saveBtn {
     background-color: #fa869b;
     border: none;
     outline: none;
     width: 272px;
     padding: 13px;
     color: white;
     border-top-left-radius: 50px;
     border-bottom-left-radius: 50px;
     border-top-right-radius: 50px;
     border-bottom-right-radius: 50px;
}

.register_section .saveBtn:hover {
     background-color: #f57089;
}